<nav class="navbar">
  <div class="navbar-content">
    <h1 class="navbar-title">Tourism App</h1>

    <div class="nav-actions" *ngIf="authService.isLoggedIn()">
      <div class="nav-links">
        <a routerLink="/blogs">Blogovi</a>
        <a routerLink="/blogs/new">Novi blog</a>

        <ng-container *ngIf="authService.getRole() === 'guide'">
          <a routerLink="/tours">Moje ture</a>
          <a routerLink="/tours/new">Nova tura</a>
        </ng-container>

        <ng-container *ngIf="authService.getRole() === 'tourist'">
          <a routerLink="/all-tours">Ture</a>
          <a routerLink="/cart">Korpa</a>
          <a routerLink="/my-purchases">Moje ture</a>
          <a routerLink="/simulator">Simulator pozicije</a>
        </ng-container>

        <a routerLink="/profile">Profil</a>
        <a *ngIf="authService.getRole() === 'admin'" routerLink="/users">Korisnici</a>
      </div>

      <button class="logout-btn" (click)="logout()">Odjava</button>
    </div>
  </div>
</nav>
