<nav class="navbar">
  <div class="navbar-content">
    <h1 class="navbar-title">Tourism App</h1>

    <div class="nav-actions" *ngIf="authService.isLoggedIn()">
      <div class="nav-links">
        <a routerLink="/blogs">Blogs</a>
        <a routerLink="/blogs/new">Create blog</a>

        <!-- Guide vidi svoje ture i kreiranje -->
        <ng-container *ngIf="authService.getRole() === 'guide'">
          <a routerLink="/tours">My Tours</a>
          <a routerLink="/tours/new">New Tour</a>
        </ng-container>

        <!-- Turista vidi sve ture i simulator -->
        <ng-container *ngIf="authService.getRole() === 'tourist'">
          <a routerLink="/all-tours">Tours</a>
          <a routerLink="/simulator">Simulator pozicije</a>
        </ng-container>


        <a routerLink="/profile">Profile</a>
        <a *ngIf="authService.getRole() === 'admin'" routerLink="/users">Users</a>
      </div>

      <button class="logout-btn" (click)="logout()">Logout</button>
    </div>
  </div>
</nav>